fastapi
langchain
nltk
numpy
langdetect
pillow
pandas
scikit-learn
matplotlib
openai
polars
pyspark
pydantic
torch --index-url https://download.pytorch.org/whl/cu118
torchvision
torchaudio


requests
wordcloud
transformers

unstructured
unstructured[local-inference]
# The unstructured library provides open-source components for pre-processing text documents such as PDFs, HTML and Word Documents.

pybind11
# pybind11 is a lightweight header-only library that exposes C++ types in Python

chromadb
# the AI-native open-source embedding database

layoutparser[layoutmodels,tesseract]
# A Unified Toolkit for Deep Learning Based Document Image Analysis

pytesseract
# Python-tesseract is an optical character recognition (OCR) tool for python.

Pillow==10.0.0
# The Python Imaging Library adds image processing capabilities to your Python interpreter. Need this version, otherwise errors occur.

Cython # Cython is an optimising static compiler for both the Python programming language

# !CC=clang CXX=clang++ ARCHFLAGS="-arch x86_64" pip install 'git+https://github.com/facebookresearch/detectron2.git'
# Detectron2 is Facebook AI Research's next generation library that provides state-of-the-art detection and segmentation algorithms.
# !pip3 install "git+https://github.com/philferriere/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI"
# COCO is a large image dataset designed for object detection, segmentation, person keypoints detection, stuff segmentation, and caption generation

# jupyterlab